.wrapper
  .header
    .header__box
      .header__box__title
      %font{:face => "arial black"}
        = link_to "ZAIKO","/", class: "broccoli"
.exhibit__main
  .exhibit__main__itemProfile
    = render 'form'
    = link_to "/", class: "exhibitSubmit2" do
      もどる