
.Register{

  display: block;
  margin: auto;
  width: 60%;
  line-height: 48px;
  font-weight: bold;
  font-size: 18px;
  background: green;
  border: 1px solid green;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  text-decoration: none;
  a{
    text-decoration: none;
    color: white;
  }
}
a{
  color: darkgreen;
    line-height: 32px;
    
    font-weight: bold;
    font-size: 16px;
}