.pickup-container__head{
  text-align: center;
  font-size: 20px;
    font-weight: bold;
    color: darkgreen;
}
.pickup-container__product-box__product-head{
  text-align: center;
  font-size: 20px;
    font-weight: bold;
    color: darkgreen;
}